/* lorem Perferendis magni incidunt, molestiae doloremque culpa maxime voluptatem necessitatibus, deserunt ducimus expedita fugiat, et fugit quisquam nobis cumque ex. Temporibus magni similique fugiat cumque atque natus ipsam dolores, nesciunt quasi.*/
#red {
	/* font-display: ; */
	background-color: blue;
	color: white;
	font-size: 200rem;
}

/* Background color */
